table {
	border-collapse: collapse;
}
caption {
	padding: 0px 0px 0px 0px;
}
div.table-cell{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	min-height: 5px;
	min-width: 20px;
	max-height: 100%;
	max-width: 100%;
}

/*------------------ table-skin's*/
table.table-skin-a{	
	border: 3px solid LightGrey;	
}
table.table-skin-a > tbody > tr > td,
table.table-skin-a > tbody > tr > th
{
	font-size: 12px;
	border: 1px solid Silver;	
}
table.table-skin-a th
{
	background-color : LightGrey;
	text-align: center;
}


/*------------------ table-skin's*/
table.table-skin-b{	
	border: 3px solid LightGrey;	
}
table.table-skin-b > tbody > tr > td,
table.table-skin-b > tbody > tr > th
{
	font-size: 12px;
	border: 1px solid Silver;	
}
table.table-skin-b th
{
	background-color : DarkSeaGreen;
	text-align: center;
}


/*------------------ table-compact*/
.table-compact {
	table-layout: auto;
	white-space: nowrap;
}
.table-compact > tbody > tr > td
{
	table-layout: auto;
	font-family: consolas, monospace;
	font-weight: 100;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px; 
	color: black;
}
.table-compact tr:first-child th {
	padding: 6px 12px;
}

/*------------------ table-normal*/
.table-normal{
	table-layout: auto;
	white-space: nowrap;
}
.table-normal > tbody > tr > td,
.table-normal > tbody > tr > th
{
	padding: 6px 12px;
}



/*------------------ table-full*/
.table-full{
	/*table-layout: fixed;*/
	white-space: pre-wrap;
	width: 100%;
;
}
table.table-full > td,
table.table-full > th
{
	padding: 6px 12px;
}

/*------------------ table-container*/
.table-container {
	table-layout: auto;
}
.table-container > tbody > tr > td
{
	table-layout: auto;
	font-family: consolas, monospace;
	font-weight: 100;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: blue;
	text-align: center;
}
.table-container tr:first-child th {
	padding: 6px 12px;
}







