table {
	border-collapse: collapse;
	vertical-align: top;
}
caption {
	padding: 0px 0px 0px 0px;
}
img{
	border: 1px black solid;
}

/*------------------ table-skin's*/
table.table-skin-a{	
	border: 3px solid LightGrey;
	vertical-align: top;	
}
table.table-skin-a > tbody > tr > td,
table.table-skin-a > tbody > tr > th
{
	font-size: 1rm;
	border: 1px solid Silver;	
}
table.table-skin-a th
{
	background-color : LightGrey;
	text-align: center;
}


/*------------------ table-normal*/
table.table-normal{
	white-space: normal;
}

.table-normal > tbody > tr > td,
.table-normal > tbody > tr > th
{
	vertical-align: top;
}